<!-- Service × locality page-->
<div class="pb-120 pt-3">
  <div class="container">
    <div class="row g-5">
      <div class="col-12 col-lg-8">
        <div class="mb-5">{{{introHtml}}}</div>
        {{{ocpiBlock}}}
        {{{villagesBlock}}}
        {{{localNoteBlock}}}{{{serviceNoteBlock}}}
        {{{deplasareBlock}}}
        {{{documentsBlock}}}
        {{{processBlock}}}
        {{{priceBlock}}}
        {{{countyNoteBlock}}}
        {{{faqBlock}}}
      </div>
      <div class="col-12 col-lg-4">
        {{{sidebar}}}
        {{{ownerBlock}}}
        {{{resourcesBlock}}}
        {{{otherServicesBlock}}}
        {{{nearbyBlock}}}
        {{{hubLinksBlock}}}
      </div>
    </div>
  </div>
</div>
