<!-- Service × county hub /servicii/(serviciu)/(judet)/-->
<div class="pb-120 pt-3">
  <div class="container">
    <div class="row g-5">
      <div class="col-12 col-lg-8">
        <div class="mb-5">{{{introHtml}}}</div>
        {{{townsBlock}}}
        {{{documentsBlock}}}
        {{{processBlock}}}
        {{{priceBlock}}}
        {{{bcpiBlock}}}
        {{{countyNoteBlock}}}
        {{{feeNoteBlock}}}
        {{{faqBlock}}}
      </div>
      <div class="col-12 col-lg-4">
        {{{sidebar}}}
        {{{hubLinksBlock}}}
        {{{resourcesBlock}}}
        {{{otherCountiesBlock}}}
      </div>
    </div>
    {{{localityIndex}}}
  </div>
</div>
